/* Style for Navbar */
.navbar-nav {
  flex: 1;
  justify-content: center;
}

.navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.logo-img {
  width: 200px; /* Adjust the default size as needed */
}

.navbar-nav .nav-link {
  color: #000;
  transition: color 0.3s;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #24774a;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust this value as needed */
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .active-link {
  color: #24774a;
}

.navbar-nav .active-link::after {
  width: 100%;
}

/* Style for Get Start Button */
.get-started-button {
  background-color: #24774a;
  color: white;
  transition: transform 0.3s, background-color 0.3s;
}

.get-started-button:hover {
  background-color: #1f5d3b;
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

/* Horizontal Services Dropdown */
.services-menu {
  width: auto;
  left: -200px;
  top: 50px;
}

.services-menu .d-flex {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.services-menu .dropdown-item {
  width: auto;
  white-space: nowrap;
}

.services-menu .dropdown-item:last-child {
  border-right: none;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .services-menu {
    width: 100%;
    left: 0;
    top: 100%;
    position: absolute;
  }

  .logo-img {
    width: 150px; /* Adjust the size for larger devices */
}

  .services-menu .d-flex {
    flex-direction: column;
  }

  .services-menu .dropdown-item {
    border-right: none;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
    text-align: left;
  }

  .services-menu .dropdown-item:last-child {
    border-bottom: none;
  }
}

.dropdown-toggle-btn {
  background: none;
  border: none;
  color: #000;
  padding: 0;
  margin-left: 5px;
}

.nav-item.dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-menu.show {
  display: block;
}

.services-menu .dropdown-item i {
  margin-right: 8px;
}

.services-menu .dropdown-item:hover {
  background-color: #24774a;
  color: #fff;
  border-radius: 20px;
}
