<nav class="navbar navbar-expand-lg navbar-light web-card-bg py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/logo.svg" alt="Logo" class="img-fluid logo-img">
        </a>
        <div class="d-flex order-lg-last">
            <a routerLink="contact-us">
                <button class="btn btn-success me-2 d-lg-none" type="button">Get Start</button>
            </a>
          
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" role="button" routerLink="services" routerLinkActive="active-link">
                        Services
                    </a>
                    <button class="dropdown-toggle-btn" (click)="toggleDropdown($event)">
                        <i class="bi" [ngClass]="{'bi-chevron-down': !isDropdownOpen, 'bi-chevron-up': isDropdownOpen}"></i>
                    </button>
                    <div class="dropdown-menu services-menu rounded-5" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="navbarDropdown">
                        <div class="d-flex flex-wrap flex-lg-nowrap">
                            <a class="dropdown-item ms-2"  routerLink="/sap-training" routerLinkActive="active-link"><i class="bi bi-headset"></i> SAP Consulting</a>
                            <a class="dropdown-item" href="#"><i class="bi bi-database"></i> Application Management</a>
                            <a class="dropdown-item" href="#"><i class="bi bi-stopwatch"></i> Rollouts & Upgrade</a>
                            <a class="dropdown-item" href="#"><i class="bi bi-columns"></i> UI/UX Design</a>
                            <a class="dropdown-item me-2" href="#"><i class="bi bi-code-square"></i> Development</a>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="training" routerLinkActive="active-link">Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="career" routerLinkActive="active-link">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about-us" routerLinkActive="active-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact-us" routerLinkActive="active-link">Contact Us</a>
                </li>
            </ul>
            <div class="d-none d-lg-flex me-3">
                <button type="button" class="btn btn-link text-decoration-none text-dark me-2">Sign In</button>
                <a routerLink="contact-us">
                    <button type="button" class="btn get-started-button" role="button">Get Start</button>
                </a>
               
            </div>
        </div>
    </div>
</nav>