<div class="container-fluid">
    <div class="row web-card-bg px-3">
        <h1 class="web-heading pt-5 text-center pb-3">Training</h1>
        <div class="d-flex justify-content-center">
            <p class="web-para-header text-center col-12 col-lg-6">We offer comprehensive SAP training programs designed
                to equip
                individuals and teams with the skills needed
                to excel in the SAP ecosystem. </p>
        </div>
    </div>
    <div class="row">
        <div class="web-card-bg p-3 p-lg-5">
            <div class="container">
                <div class="row web-card-primary rounded-3 p-3">
                    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-start">
                        <img src="assets/images/library_icon.svg" alt="">
                        <div class="ps-3">
                            <h3 class="web-card-heading">
                                Learning Format
                            </h3>
                            <p class="web-card-paragraph">Offline(Classroom)</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-start">
                        <img src="assets/images/duration-icon.svg" alt="">
                        <div class="ps-3">
                            <h3 class="web-card-heading">
                                Duration
                            </h3>
                            <p class="web-card-paragraph">6 Months</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-start">
                        <img src="assets/images/placement-icon.svg" alt="">
                        <div class="ps-3">
                            <h3 class="web-card-heading">
                                Placements
                            </h3>
                            <p class="web-card-paragraph">100%</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-start">
                        <img src="assets/images/emi-icon.svg" alt="">
                        <div class="ps-3">
                            <h3 class="web-card-heading">
                                No Cost EMI Starts
                            </h3>
                            <p class="web-card-paragraph">at ₹4999/month*</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-3 pt-lg-5">
                <div class="d-flex justify-content-center pb-3">
                    <h3 class="col-12 col-lg-6 text-center web-sub-heading">Become A Certified Professional In SAP
                        Solutions</h3>
                </div>
                <p class="text-center text-lg-start web-paragraph">We offer a comprehensive certification program
                    designed to help you
                    become a certified professional
                    in SAP. Our program provides the knowledge, skills, and credentials you need to excel in your career
                    and stand out in the competitive job market.</p>
            </div>

            <!-- Website Hosting -->

            <div class="row p-lg-5">
                <!-- Image column -->
                <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="assets/images/Webhosting-provider-vriksham-software.svg" alt="" class="img-fluid">
                </div>
                <!-- Text column -->
                <div class="col-12 col-lg-6 pt-5">
                    <h3 class="pb-3 pt-lg--5 web-sub-heading">Website Hosting</h3>
                    <p class="web-paragraph">Welcome to Your One-Stop Shop for SAP Solutions, where we also offer
                        comprehensive website
                        hosting services tailored to meet your business needs. Our hosting solutions provide the
                        performance, security, and reliability necessary to ensure your website runs smoothly and
                        efficiently.</p>
                    <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Vps Hosting -->

    <div class="row p-lg-5">
        <!-- Image column -->
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center order-first order-lg-2">
            <img src="assets/images/vps-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-lg-6 pt-5 order-last order-lg-1">
            <h3 class="pb-3 pt-lg--5 web-sub-heading">Vps Hosting</h3>
            <p class="web-paragraph">Our Virtual Private Server (VPS) hosting services are designed to provide
                businesses with a powerful,
                flexible, and scalable hosting solution. VPS hosting offers the perfect balance between shared and
                dedicated hosting, giving you dedicated resources and greater control over your hosting environment
                without the cost of a dedicated server.</p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- Word Press Hosting -->

    <div class="row p-lg-5 web-card-bg">
        <!-- Image column -->
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="assets/images/work-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-lg-6 pt-5">
            <h3 class="pb-3 pt-lg--5 web-sub-heading">Word Press Hosting</h3>
            <p class="web-paragraph">Where we offer specialized WordPress hosting services tailored to meet the needs of
                bloggers, businesses,
                and developers. Our WordPress hosting solutions provide optimized performance, enhanced security, and
                ease of use, ensuring that your WordPress site runs smoothly and efficiently.</p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- WP Website Builder -->

    <div class="row p-lg-5">
        <!-- Image column -->
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center order-first order-lg-2">
            <img src="assets/images/wp-website-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-lg-6 pt-5 order-last order-lg-1">
            <h3 class="pb-3 pt-lg--5 web-sub-heading">WP Website Builder</h3>
            <p class="web-paragraph">Experience the ease and power of creating a professional WordPress website with our
                WP Website Builder
                from Your One-Stop Shop for SAP Solutions. Get started today and bring your website vision to life!
            </p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- Dedicated Hosting  -->

    <div class="row p-lg-5 web-card-bg">
        <!-- Image column -->
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="assets/images/dedicated-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-lg-6 pt-5">
            <h3 class="pb-3 pt-lg-5 web-sub-heading">Dedicated Hosting</h3>
            <p class="web-paragraph">Our dedicated hosting solutions provide exclusive use of a server, ensuring optimal
                performance and
                reliability for your mission-critical applications and websites.Where we offer premium Dedicated Hosting
                services tailored to meet the demanding needs of businesses requiring high performance, enhanced
                security, and full control over their hosting environment.</p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- Cloud Hosting -->

    <div class="row p-lg-5">
        <!-- Image column -->
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center order-first order-lg-2">
            <img src="assets/images/cloud-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-lg-6 pt-5 order-last order-lg-1">
            <h3 class="pb-3 pt-lg--5 web-sub-heading">Cloud Hosting</h3>
            <p class="web-paragraph">We offer advanced Cloud Hosting services designed to provide scalable, flexible,
                and high-performance
                solutions for businesses of all sizes. Our cloud hosting platform ensures optimal uptime, seamless
                scalability, and robust security, making it an ideal choice for dynamic and growing businesses.
            </p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>
</div>