<app-top-header-section heading="Training" paragraph="We offer comprehensive SAP training programs designed
to equip
individuals and teams with the skills needed
to excel in the SAP ecosystem. ">
</app-top-header-section>
<div class="container-fluid">
    <div class="row">
        <div class="web-card-bg p-3 p-lg-5">
            <div class="container">
                <div class="row web-card-primary rounded-3 px-3 py-3 py-md-5">
                    @for (card of cardDetails; track $index) {
                    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-start">
                        <img [src]="card.icon" alt="" class="web-card-icon">
                        <div class="ps-3 mb-lg-0">
                            <h3 class="web-card-heading mb-md-0">{{ card.heading }}</h3>
                            <p class="web-card-paragraph mb-lg-0">{{ card.paragraph }}</p>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="row pt-3 pt-lg-5">
                <div class="d-flex justify-content-center pb-3">
                    <h3 class="col-12 col-lg-6 text-center web-sub-heading">Become A Certified Professional In SAP
                        Solutions</h3>
                </div>
                <p class="text-center text-lg-start web-paragraph">We offer a comprehensive certification program
                    designed to help you
                    become a certified professional
                    in SAP. Our program provides the knowledge, skills, and credentials you need to excel in your career
                    and stand out in the competitive job market.</p>
            </div>

            <!-- Website Hosting -->

            <div class="row align-items-center p-lg-5">
                <h3 class="pb-3 web-sub-heading pt-5 d-sm-block d-md-none">Website Hosting</h3>
                <!-- Image column -->
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <img src="assets/images/Webhosting-provider-vriksham-software.svg" alt="" class="img-fluid">
                </div>
                <!-- Text column -->
                <div class="col-12 col-md-6 pt-5">
                    <h3 class="pb-3 web-sub-heading d-none d-sm-none d-md-block">Website Hosting</h3>
                    <p class="web-paragraph">Welcome to Your One-Stop Shop for SAP Solutions, where we also offer
                        comprehensive website
                        hosting services tailored to meet your business needs. Our hosting solutions provide the
                        performance, security, and reliability necessary to ensure your website runs smoothly and
                        efficiently.</p>
                    <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Vps Hosting -->

    <div class="row p-lg-5">
        <h3 class="pb-3 web-sub-heading pt-5  d-sm-block d-md-none">Vps Hosting</h3>
        <!-- Image column -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-second order-md-2">
            <img src="assets/images/vps-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-md-6 pt-5 order-last order-md-1">
            <h3 class="pb-3 web-sub-heading d-none d-sm-none d-md-block">Vps Hosting</h3>
            <p class="web-paragraph">Our Virtual Private Server (VPS) hosting services are designed to provide
                businesses with a powerful,
                flexible, and scalable hosting solution. VPS hosting offers the perfect balance between shared and
                dedicated hosting, giving you dedicated resources and greater control over your hosting environment
                without the cost of a dedicated server.</p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- Word Press Hosting -->

    <div class="row p-lg-5 web-card-bg">
        <h3 class="pb-3 web-sub-heading pt-5 d-sm-block d-md-none">Word Press Hosting</h3>
        <!-- Image column -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img src="assets/images/work-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-md-6 pt-5">
            <h3 class="pb-3 web-sub-heading d-none d-sm-none d-md-block">Word Press Hosting</h3>
            <p class="web-paragraph">Where we offer specialized WordPress hosting services tailored to meet the needs of
                bloggers, businesses,
                and developers. Our WordPress hosting solutions provide optimized performance, enhanced security, and
                ease of use, ensuring that your WordPress site runs smoothly and efficiently.</p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- WP Website Builder -->

    <div class="row p-lg-5">
        <h3 class="pb-3 web-sub-heading pt-5 d-sm-block d-md-none">WP Website Builder</h3>
        <!-- Image column -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-second order-md-2">
            <img src="assets/images/wp-website-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-md-6 pt-5 order-last order-md-1">
            <h3 class="pb-3 web-sub-heading d-none d-sm-none d-md-block">WP Website Builder</h3>
            <p class="web-paragraph">Experience the ease and power of creating a professional WordPress website with our
                WP Website Builder
                from Your One-Stop Shop for SAP Solutions. Get started today and bring your website vision to life!
            </p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- Dedicated Hosting  -->

    <div class="row p-lg-5 web-card-bg">
        <h3 class="pb-3  web-sub-heading pt-5 d-sm-block d-md-none">Dedicated Hosting</h3>
        <!-- Image column -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img src="assets/images/dedicated-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-md-6 pt-5">
            <h3 class="pb-3  web-sub-heading d-none d-sm-none d-md-block">Dedicated Hosting</h3>
            <p class="web-paragraph">Our dedicated hosting solutions provide exclusive use of a server, ensuring optimal
                performance and
                reliability for your mission-critical applications and websites.Where we offer premium Dedicated Hosting
                services tailored to meet the demanding needs of businesses requiring high performance, enhanced
                security, and full control over their hosting environment.</p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>

    <!-- Cloud Hosting -->

    <div class="row p-lg-5">
        <h3 class="pb-3  web-sub-heading pt-5 d-sm-block d-md-none">Cloud Hosting</h3>
        <!-- Image column -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-second order-md-2">
            <img src="assets/images/cloud-host-image.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-md-6 pt-5 order-last order-md-1">
            <h3 class="pb-3 web-sub-heading d-none d-sm-none d-md-block">Cloud Hosting</h3>
            <p class="web-paragraph">We offer advanced Cloud Hosting services designed to provide scalable, flexible,
                and high-performance
                solutions for businesses of all sizes. Our cloud hosting platform ensures optimal uptime, seamless
                scalability, and robust security, making it an ideal choice for dynamic and growing businesses.
            </p>
            <button type="button" class="btn button-primary mt-3 mb-5" role="button">Book a Seat</button>
        </div>
    </div>
    <!-- service works card component -->
    <div class="row web-card-bg">
        <app-services-works-card></app-services-works-card>
    </div>
    <!-- testimonial card -->
    <div class="row py-3 py-md-5">
        <h3 class="pb-3 web-sub-heading text-center">Hear from Our Satisfied Clients & Students</h3>
        <p class="web-paragraph text-center">At Your One-Stop Shop for SAP Solutions, we take pride in the positive
            feedback we receive from our clients and students.</p>
        <app-testimonial-card></app-testimonial-card>
    </div>
</div>