* {
    font-family: "Poppins";
  }
  .career-section {
    background-color: #f9fafb;
  }
  .career-list li{
    padding-top: 20px;

  }

  .about-privacy{
    color: #1F1F1F;
    opacity: 70%;
    font-weight: 600;
  }

  .privacy-span{
    color: #1F1F1F;
    opacity: 70%;
    font-weight: 400;
  }
  .privacy-list li{
    padding-top: 20px;
    // padding-top: 20px;
    opacity: 70%;
    color: #1F1F1F;
  }