<app-top-header-section heading="Privacy Policy" paragraph="Feel free to customize the contact details and emphasize any specific points that are relevant to your website and its privacy practices.">
</app-top-header-section>
    <div class="container">
        <div class="row p-2">
            <h5 class="mb-4 fw-semibold">Privacy Policy :</h5>
            <div class="mb-3">
                <span class="text-secondary lh-lg"> 
                    We use cookies and similar tracking technologies to enhance your browsing experience and analyze usage patterns. Cookies are small files stored on your device that may include an anonymous unique identifier. With your consent, we may collect information about your approximate location based on your IP address or other methods. We may collect other information that does not personally identify you but may be linked to your personal information. By using our website and services, you consent to the collection and use of your information as described in this Privacy Policy. For more details on how we use, disclose, and protect your information, please refer to our full Privacy Policy. This section provides transparency about the types of information collected by Ladera Technology and the reasons for collecting it, while also encouraging users to review the full Privacy Policy for more detailed information.
                </span>
            </div>
        </div>
        <div class="row p-2">
            <h5 class="mb-4 fw-semibold">Personal information we collect:</h5>
            <div class="mb-3">
                <span class="text-secondary lh-lg"> 
                    We are committed to protecting the security and confidentiality of your personal information. We implement appropriate technical and organizational measures to safeguard your data against unauthorized access, alteration, disclosure, or destruction. By using our services, you consent to the collection and use of your personal information as described in this Privacy Policy. For more details on how we use, disclose, and protect your information, please refer to our full Privacy Policy.
                </span>
            </div>
        </div>
        <div class="row">
            <h5 class="mb-4 fw-semibold">Why do we process your data?:</h5>
            <div class="mb-3">
                <ul class="career-list">
                    <li>
                        <div>
                            <span class="about-privacy lh-base">To Provide Services :</span>
                            <span class="privacy-span"> We process your data to create and manage user accounts, process transactions, and deliver products or services that you request.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="about-privacy lh-base">To Communicate :</span>
                            <span class="privacy-span">We use your data to communicate with you, including responding to inquiries, providing customer support, and sending administrative information such as updates and notifications.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="about-privacy lh-base">To Comply :</span>
                            <span class="privacy-span">We process your data to comply with legal obligations, such as tax and accounting requirements, and to enforce our terms of service.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="about-privacy lh-base">To Protect :</span>
                            <span class="privacy-span">We process your data to protect the rights, property, or safety of Ladera Technology, our users, or others.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="about-privacy lh-base">To Market :</span>
                            <span class="privacy-span">With your consent, we may use your data for marketing purposes, such as sending promotional offers, newsletters, or personalized advertisements.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row p-2">
            <h5 class="mb-4 fw-semibold">Your rights</h5>
            <div class="mb-3">
                <ul class="privacy-list">
                    <li>Right to Access.</li>
                    <li>Right to Rectification.</li>
                    <li>Right to Erasure (Right to be Forgotten)</li>
                    <li>Right to Restriction of Processing.</li>
                    <li>Right to Data Portability.</li>
                    <li>Right to Object.</li>
                    <li>Right to Withdraw Consent.</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h5 class="mb-4 fw-semibold">Information security:</h5>
                <ol>
                    <li class="mb-3">
                        <h6 class="about-privacy">Access Control :</h6>
                        <ul class="privacy-span lh-base">
                            <li>Authorization: Access to your personal data is restricted to authorized personnel who have a legitimate need to access it for the purposes outlined in our Privacy Policy.</li>
                            <li>Authentication: We use strong authentication methods to verify the identity of users accessing our systems and services.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        <h6 class="about-privacy">Data Encryption :</h6>
                        <ul class="privacy-span lh-base">
                            <li>We use encryption techniques to encrypt your personal data both in transit and at rest. This ensures that your information remains confidential and protected from unauthorized access during transmission and storage.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        <h6 class="about-privacy">Regular Security Assessments :</h6>
                        <ul class="privacy-span lh-base">
                            <li>We conduct regular security assessments, including vulnerability assessments and penetration testing, to identify and address potential security vulnerabilities in our systems and infrastructure.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        <h6 class="about-privacy">Data Minimization and Retention :</h6>
                        <ul class="privacy-span lh-base">
                            <li>We minimize the collection of personal data to what is necessary for the purposes for which it is processed. We also establish data retention periods and securely delete or anonymize data when it is no longer needed.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        <h6 class="about-privacy">Employee Training and Awareness :</h6>
                        <ul class="privacy-span lh-base">
                            <li>We provide ongoing training and awareness programs for our employees to ensure they understand their responsibilities in protecting your personal data and maintaining information security.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        <h6 class="about-privacy">Physical Security :</h6>
                        <ul class="privacy-span lh-base">
                            <li>We implement physical security measures, such as access controls and surveillance, to protect our facilities and equipment where personal data is processed.</li>
                        </ul>
                    </li>
                    <li class="mb-3">
                        <h6 class="about-privacy">Incident Response and Management :</h6>
                        <ul class="privacy-span lh-base">
                            <li>We have procedures in place to promptly respond to and manage data security incidents. This includes assessing the impact of incidents, notifying affected individuals when required by law, and taking necessary steps to mitigate risks.</li>
                        </ul>
                    </li>  
                    <li class="mb-3">
                        <h6 class="about-privacy">Third-Party Security :</h6>
                        <ul class="privacy-span lh-base">
                            <li>We require our third-party service providers and partners to implement appropriate security measures to protect any personal data they may process on our behalf.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row p-2">
            <h5 class="mb-4 fw-semibold">Contact Us</h5>
            <div class="mb-3 text-secondary lh-base">
                If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal data, please contact us at you may send an email to hrvrikshamsofttech.com.
            </div>
        </div>
    </div>
    
