<div class="p-3">
    <i class="bi bi-x-circle close-icon-btn" mat-dialog-close></i>
    <div class="d-flex justify-content-center">
        <img src="assets/images/explore-image.svg" alt="" class="img-fluid">
    </div>
    <form>
        <div class="pb-3">
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Parasuraman">
        </div>
        <div class="pb-3">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
        </div>
        <div class="pb-3">
            <label class="form-label" for="number">Mobile No.</label>
            <input type="text" class="form-control" id="number" placeholder="+91 7200128483">
        </div>
        <div class="pb-3">
            <label class="form-label" for="org-name">Org Name</label>
            <input type="text" class="form-control" id="org-name" placeholder="vrikshamsofttech">
        </div>
        <div>
            <label class="form-label" for="service">Select your Service</label>
            <select class="form-select" id="service">
                <option>SAP Consulting</option>
                <option>Experience</option>
                <option>Fresher</option>
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn button-primary py-2 px-5 mt-3 col-12" role="button">Submit</button>
        </div>
    </form>
</div>