.close-icon-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #666666;
}

.form-label {
  // font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color:#000000;
}
