<!-- header section component -->
 <div class="row web-card-bg px-3 px-md-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a routerLink="/home" class="text-secondary text-decoration-none">Home
                </a> <span class="text-secondary ps-3">></span></li>
            <li class="ps-3 nav-active fw-medium">Blog</li>
        </ol>
    </nav>
 </div>
<app-top-header-section heading="Blog" paragraph="This blog post template can be customized further with specific details and links relevant to Vrikshamsofttech.">
  
</app-top-header-section>
<div class="container-fluid px-3 px-md-5">
    <div class="row py-5">
        <h3 class="text-center web-sub-heading pb-3">Latest Blogs & Posts</h3>
        <div class="row">
            @for (blog of blogs; track $index) {
            <div class="col-md-4 mb-4">
                <div class="card border-0 rounded-5 p-2">
                    <div class="card-body">
                        <div class="calender-container bg-white px-3 rounded-bottom-3 text-center">
                            <h5 class="mb-0">{{blog.date}}</h5>
                            <p class="mb-0">{{blog.month}}</p>
                        </div>
                        <img [src]="blog.blogCoverImage" class="w-100 z-0" [alt]="blog.altText">
                        <h5 class="card-title pt-3">{{ blog.title | slice:0:30}}...</h5>
                        <p class="card-text">{{ blog.content | slice:0:100 }}...</p>
                        <a [routerLink]="['/post', blog.id]" class="text-decoration-none nav-active fw-medium">Read More</a>
                    </div>
                    
                </div>
            </div>
            }
        </div>
    </div>
</div>