.web-heading {
font-size: var(--web-font-size-h1);
font-weight: var(--web-font-weight-semibold);
line-height: var(--web-h1-line-height);
}
.web-subheading {
    font-size: var(--web-font-size-h2);
    font-weight: var(--web-font-weight-semibold);
    line-height: var(--web-h2-line-height);
}

.button {
  border-radius: 8px;
  color: var(--web-white-color);
  background-color: var(--web-primary-color);
  border: none;
  text-align: center;
  // font-size: 1vw;
}

.button:hover {
    background-color: aqua;
}
.bg-sec {
    background-color: var(--web-bg-color);
}
.web-primary {
    color: var(--web-primary-color);
}
.web-secondary {
  color: var(--web-secondary-color);
}
.para-info {
    // font-size: var(--web-font-size-card-para);
    color: var(--web-para-color);
    font-weight: var(--web-font-weight-normal);
    // line-height: var(--web-para-line-height);
}


.web-card-bg {
  background-color: var(--web-navbar-bg-color);
}

.web-card-primary {
  background-color: var(--web-primary-color);
  border: 1px solid #e5f4f2;
}

.btn-outline-primary {
  border: 1px solid #ffff;
  background-color: var(--web-primary-color);
  color: var(--web-white-color);
}

.btn-outline-primary:hover 
{
  border:  1px solid #FFFF;
  color: var(--web-primary-color);
  background-color: var(--web-white-color);
}
