.web-heading {
font-size: var(--web-font-size-h1);
font-weight: var(--web-font-weight-semibold);
line-height: var(--web-h1-line-height);
}
.button {
    // width: 158px;
    // height: 50px;
    border-radius: 10px;
    color: var(--web-white-color);
    background-color: var(--web-primary-color);
    border: none;
    text-align: center;
}
.button:hover {
    background-color: aqua;
}
.bg-sec {
    background-color: var(--web-bg-color);
}
.web-primary {
    color: var(--web-primary-color);
}
.para-info {
    font-size: var(--web-font-size-card-para);
    color: var(--web-para-color);
    font-weight: var(--web-font-weight-normal);
    line-height: var(--web-para-line-height);
}