
html {
// Generic colors
--web-primary-color: #24774A;
--web-secondary-color: #01AB55;
--web-navbar-bg-color: #F9FAFB;
--web-bg-color: #F9FAFB;
--web-white-color: #ffffff;
--web-para-color: #4D5B57;


// font
--web-font-size-card-para: 1.17vw;
--web-font-size-para: 20px;
--web-font-size-h3: 22px;
--web-font-size-h2: 2.6vw;
--web-font-size-h1: 4vw;

--web-font-weight-lighter: lighter;
--web-font-weight-light: 300;
--web-font-weight-normal: 400;
--web-font-weight-medium: 500;
--web-font-weight-semibold: 600;
--web-font-weight-bold: 700;
--web-font-weight-bolder: bolder;

--web-h1-line-height: 5.5vw;
--web-h2-line-height: 48px;
--web-para-line-height: 2vw


}