<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <!-- Controls -->
    <div class="d-flex justify-content-between">
        <button class="carousel-control-prev position-relative" type="button" data-bs-target="#carouselMultiItemExample"
            data-bs-slide="prev"
            style="background-color: #24774A; color: white; border-radius: 50%; width: 40px; height: 40px; align-items: center; display: flex; justify-content: center;">
            <span class="carousel-control-prev-icon  text-primary" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next position-relative" type="button" data-bs-target="#carouselMultiItemExample"
            data-bs-slide="next"
            style="background-color: #24774A; color: white; border-radius: 50%; width: 40px; height: 40px; align-items: center; display: flex; justify-content: center;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active mb-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 mx-3 mb-4">
                        <div class="card h-100 p-4 shadow-sm rounded bg-white">
                            <div class="d-flex">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="./assets/images/service-client-image-1.svg" alt="avatar"
                                    style="width: 60px;" />
                                <div class="mt-2">
                                    <h5>Anna Deynah</h5>
                                    <p>UX Designer</p>
                                </div>
                            </div>
                            <p class="text-dark mt-3">As a UI designer looking to expand my skills, I found the UI/UX
                                course at Your One-Stop Shop for SAP Solutions to be invaluable. The course structure
                                was well-paced, and the instructors were experts in the field..</p>
                        </div>
                    </div>
                    <div class="col-lg-5 mx-3 mb-4">
                        <div class="card h-100 p-4 shadow-sm rounded">
                            <div class="d-flex">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="./assets/images/service-client-image-1.svg" alt="avatar"
                                    style="width: 60px;" />
                                <div class="mt-2">
                                    <h5>Anna Deynah</h5>
                                    <p>UX Designer</p>
                                </div>
                            </div>
                            <p class="text-dark mt-3">As a UI designer looking to expand my skills, I found the UI/UX
                                course at Your One-Stop Shop for SAP Solutions to be invaluable. The course structure
                                was well-paced, and the instructors were experts in the field.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single item -->
        <div class="carousel-item mb-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 mx-3 mb-4">
                        <div class="card h-100 p-4 shadow-sm rounded">
                            <div class="d-flex">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="./assets/images/service-client-image-2svg.svg" alt="avatar"
                                    style="width: 60px;" />
                                <div class="mt-2">
                                    <h5>Anna Deynah</h5>
                                    <p>UX Designer</p>
                                </div>
                            </div>
                            <p class="text-dark mt-3">I highly recommend the developer training at Your One-Stop Shop
                                for SAP Solutions. The curriculum was well-structured and up-to-date with industry
                                trends. The instructors were passionate and dedicated, ensuring we understood the
                                material thoroughly..</p>
                        </div>
                    </div>
                    <div class="col-lg-5 mx-3 mb-4">
                        <div class="card h-100 p-4 shadow-sm rounded">
                            <div class="d-flex">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="./assets/images/service-client-image-2svg.svg" alt="avatar"
                                    style="width: 60px;" />
                                <div class="mt-2">
                                    <h5>Anna Deynah</h5>
                                    <p>UX Designer</p>
                                </div>
                            </div>
                            <p class="text-dark mt-3">I highly recommend the developer training at Your One-Stop Shop
                                for SAP Solutions. The curriculum was well-structured and up-to-date with industry
                                trends. The instructors were passionate and dedicated, ensuring we understood the
                                material thoroughly..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
