<div class="container-fluid">
    <div class="row career-section">
        <div class="col-2"></div>
        <div class="col-lg-8 col-12 text-center p-5  mb-5">
            <h1 class="web-heading">Career</h1>
            <p class="lh-lg">Join a dynamic and innovative team at Your One-Stop Shop for SAP Solutions, where we are
                committed to
                providing top-tier SAP services and hosting solutions.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row mb-5">
        <div class="col-2"></div>
        <div class="col-lg-8 col-sm-12 text-center">
            <h1 class="fs-1 fw-semibold">Why you should join us?</h1>
            <p class="fw-normal lh-lg">We are committed to fostering a vibrant and inclusive workplace where innovation
                thrives, talent is
                nurtured, and careers are built. Here’s why you should consider joining our team:
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="col-1"></div>
        <div class="col-lg-10 col-12">
            <div class="row mb-lg-5">
                <div class="col-lg-4 col-sm-12 d-flex">
                    <div class="icon">
                        <i class="bi bi-graph-up-arrow text-primary fs-2"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="mb-3">Personal growth</h5>
                        <p>Explore our career opportunities today and take the next step in your personal and
                            professional growth.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex">
                    <div class="icon">
                        <i class="bi bi-currency-rupee text-success fs-2"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="mb-3">Competitive salary</h5>
                        <p>Performance-based salary adjustments recognize and reward your hard work and achievements.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex">
                    <div class="icon">
                        <i class="bi bi-person text-warning fs-2"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="mb-3">Casual dress code</h5>
                        <p>Here’s why we embrace a casual dress code and how it benefits our team:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 d-flex">
                    <div class="icon">
                        <i class="bi bi-clock fs-2"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="mb-3">Unlimited time off</h5>
                        <p>We offer an unlimited time off policy to support your work-life balance and overall
                            well-being.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex">
                    <div class="icon">
                        <i class="bi bi-window-plus fs-2"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="mb-3">Yearly bonuses</h5>
                        <p>Yearly bonuses are our way of showing appreciation for your commitment and hard work
                            throughout the year.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex">
                    <div class="icon">
                        <i class="bi bi-globe-americas text-primary fs-2"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="mb-3">Global community</h5>
                        <p>Explore our career opportunities today and connect with professionals from around the world!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 "></div>
    </div>

</div>
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-12 career-bg-image">
            <h2 class="text-center pt-5 text-white fs-1 mb-5 fw-semibold">Current job openings</h2>
            <div class="container">
                <div class="row mb-3">
                    <div class="col-2"></div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="row job-opening-career p-lg-3 rounded-3">
                            <div class="col-12">
                                <div>
                                    <div class="d-flex justify-content-between mt-1">
                                        <div>
                                            <h5>Account Manager</h5>
                                        </div>
                                        <div><a routerLink="../home"><i
                                                    class="bi bi-arrow-right fs-3 text-dark"></i></a></div>
                                    </div>
                                    <div><i class="bi bi-stopwatch text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">Full Time</span>|<i
                                            class="bi bi-suitcase-lg ps-2 text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">2-4 Years </span>| <i
                                            class="bi bi-geo-alt text-secondary"></i><span class="ps-2 text-secondary">
                                            New York</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-2"></div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="row job-opening-career p-lg-3 rounded-3">
                            <div class="col-12">
                                <div>
                                    <div class="d-flex justify-content-between mt-1">
                                        <div>
                                            <h5>Full Stack Developer</h5>
                                        </div>
                                        <div><a routerLink="../home"><i
                                                    class="bi bi-arrow-right fs-3 text-dark"></i></a></div>
                                    </div>
                                    <div><i class="bi bi-stopwatch text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">Full Time</span>|<i
                                            class="bi bi-suitcase-lg ps-2 text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">2-4 Years </span>| <i
                                            class="bi bi-geo-alt text-secondary"></i><span
                                            class="ps-2 text-secondary">Mumbai, India</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-2"></div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="row job-opening-career p-lg-3 rounded-3">
                            <div class="col-12">
                                <div>
                                    <div class="d-flex justify-content-between mt-1">
                                        <div>
                                            <h5>Senior Project Manager</h5>
                                        </div>
                                        <div><a routerLink="../home"><i
                                                    class="bi bi-arrow-right fs-3 text-dark"></i></a></div>
                                    </div>
                                    <div><i class="bi bi-stopwatch text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">Full Time</span>|<i
                                            class="bi bi-suitcase-lg ps-2 text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">2-4 Years </span>| <i
                                            class="bi bi-geo-alt text-secondary"></i><span
                                            class="ps-2 text-secondary">Chennai, India</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-2"></div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="row job-opening-career p-lg-3 rounded-3">
                            <div class="col-12">
                                <div>
                                    <div class="d-flex justify-content-between mt-1">
                                        <div>
                                            <h5>UX Designer</h5>
                                        </div>
                                        <div><a routerLink="../home"><i
                                                    class="bi bi-arrow-right fs-3 text-dark"></i></a></div>
                                    </div>
                                    <div class="p-1 p-lg-0 p-mb-0"><i class="bi bi-stopwatch text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">Full Time</span>|<i
                                            class="bi bi-suitcase-lg ps-2 text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">2-4 Years </span>| <i
                                            class="bi bi-geo-alt text-secondary"></i><span
                                            class="ps-2 text-secondary">London</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mb-5">
                    <div class="col-2"></div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="row job-opening-career p-lg-3  rounded-3">
                            <div class="col-12">
                                <div>
                                    <div class="d-flex justify-content-between mt-1">
                                        <div>
                                            <h5>Software Engineer</h5>
                                        </div>
                                        <div><a routerLink="../home"><i
                                                    class="bi bi-arrow-right fs-3 text-dark"></i></a></div>
                                    </div>
                                    <div class="p-2 p-lg-0 p-mb-0"><i class="bi bi-stopwatch text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">Full Time</span>|<i
                                            class="bi bi-suitcase-lg ps-2 text-secondary"></i><span
                                            class="ps-2 me-2 text-secondary">2-4 Years </span>| <i
                                            class="bi bi-geo-alt text-secondary"></i><span
                                            class="ps-2 text-secondary">India</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row p-2">
        <h5 class="mb-4 fw-semibold">About vrikshamsofttech :</h5>
        <div class="mb-3">
            <span class="about-carrier lh-base">SAP Expertise :</span>
            <span class="text-secondary">Renowned for proficiency in SAP
                implementation, customization, and support,
                Vrikshamsofttech empowers businesses with robust ERP solutions that optimize operations and enhance
                efficiency.</span>
        </div>
        <div class="mb-3">
            <span class="about-carrier lh-base"> Custom Development:</span>
            <span class="text-secondary lh-base">
                Leveraging cutting-edge technology, Vrikshamsofttech offers bespoke
                software development services tailored to specific organizational requirements, ensuring scalable and
                sustainable solutions.
            </span>
        </div>
        <div class="mb-3">
            <span class="about-carrier lh-base"> Innovative Solutions : </span>
            <span class="text-secondary lh-base">
                With a focus on innovation and industry best practices,
                Vrikshamsofttech continuously evolves its offerings to address emerging trends and technological
                advancements, driving digital transformation for businesses.
            </span>
        </div>
        <div class="mb-3">
            <span class="about-carrier"> Global Reach :</span>
            <span class="text-secondary lh-base">
                Serving a global clientele, Vrikshamsofttech fosters a diverse and inclusive
                work culture, promoting teamwork, creativity, and professional growth among its talented workforce.
            </span>
        </div>
        <div class="mb-3">
            <span class="about-carrier lh-base">Client-Centric Approach :</span>
            <span class="text-secondary lh-base">
                Committed to excellence in customer service, Vrikshamsofttech
                prioritizes client satisfaction through personalized support, timely delivery, and ongoing collaboration
                to
                achieve mutual success.
            </span>
        </div>
    </div>
</div>