<div class="container-fluid py-3 py-md-5">
    <div class="row ">
        <div class="col-4"></div>
        <div class="col-lg-4 col-sm-12  text-center">
            <h1 class="fw-semibold lh-base"> How it works </h1>
            <p class="text-dark pb-3">Businesses generally promote their brand, products, and services by identifying audience.</p>
        </div>
        <div class="col-4"></div>
    </div>

<div class="container">
    <div class="row g-4">
        @for (offer of offerings; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="rounded-4  service-card p-4">
                <div class="box-icon rounded-3 mb-3">
                    <i [class]="offer.icon + ' fs-2 d-flex justify-content-center pt-3 '"></i>
                </div>
                <h4 class="mb-3">{{ offer.title }}</h4>
                <p class="mb-3">{{ offer.description }}</p>
            </div>
        </div>
        }

    </div>
</div>
</div>

