<app-top-header-section heading="Services" paragraph="Whether you're looking to enhance your SAP systems, upgrade your skills,
or streamline your business processes, we have the expertise and 
solutions to help you succeed.">
</app-top-header-section>
<div class="container-fluid py-3 py-md-5">
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 text-center">
            <h1 class="fw-semibold lh-base"> We Are Offering </h1>
            <p>In the realm of career advancement, we are offering opportunities that pave the path to your professional
                growth. </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container my-5">
    <div class="row g-4">
        @for(service of services; track $index){
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="rounded-4 text-center service-card p-3">
                <img [src]="service.imgSrc" [alt]="service.title" class="img-fluid mt-3">
                <h3 class="mt-3 fs-5 fw-semibold">{{ service.title }}</h3>
                <p class="mt-4 fs-6 lh-base">{{ service.description }}</p>
                <i class="bi bi-arrow-right fs-2"></i>
            </div>
        </div>
        }

    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-3"></div>
        <div class="col-lg-6 col-12  text-center p-5">
            <h1 class="fw-semibold lh-base scroll-animate"> How it works </h1>
            <p class="text-dark px-lg-5 scroll-animate">Businesses generally promote their brand, products, and services by identifying
                audience.</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="container">
    <div class="row g-4">
        @for (offer of offerings; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex">
          <div class="rounded-4 service-card p-4 w-100 d-flex flex-column">
            <div class="box-icon rounded-3 mb-3">
              <i [class]="offer.icon + ' fs-2 d-flex justify-content-center pt-3'"></i>
            </div>
            <h4 class="mb-3">{{ offer.title }}</h4>
            <p class="mb-3 flex-grow-1">{{ offer.description }}</p>
          </div>
        </div>
        }
      </div>
    <div class="container-fluid mt-5 mb-3">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center">
                <h1 class="fw-semibold lh-base scroll-animate">Hear from Our Satisfied Clients & Students</h1>
                <p class="text-secondary scroll-animate">At Your One-Stop Shop for SAP Solutions, we take pride in the positive
                    feedback we
                    receive from our
                    clients and students.</p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<!-- Carousel wrapper -->
<div class="pb-4">
    <app-testimonial-card></app-testimonial-card>
</div>