<div class="container-fluid mb-5">
    <div class="row bg-primary">
        <div class="col-2"></div>
        <div class="col-8 text-center p-5 ">
            <h1 class="fw-semibold lh-base">Services</h1>
            <p>Whether you're looking to enhance your SAP systems, upgrade your skills, or streamline your business processes,  we have the expertise and solutions to help you succeed.  </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-8 text-center p-5">
            <h1 class="fw-semibold lh-base"> We Are Offering </h1>
            <p>In the realm of career advancement, we are offering opportunities that pave the path to your professional growth.  </p>
        </div>
        <div class="col-2"></div>
    </div>
</div> 
<div class="container">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="rounded-4 text-center service-card p-4">
                <img src="./assets/images/service-card-image-1.svg" alt="service-card-image-1" class="img-fluid mt-3">
                <h3 class="mt-3 fs-4">SAP Training</h3>
                <p class="mt-4">SAP offers ERP software for business processes. Explore training options for modules like finance, HR, supply chain.</p>
                <i class="bi bi-arrow-right fs-2"></i>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="rounded-4 text-center service-card p-4">
                <img src="./assets/images/service-card-image-2.svg" alt="service-card-image-2" class="img-fluid mt-3">
                <h3 class="mt-3 fs-4">SAP Consulting</h3>
                <p class="mt-4">Business Consulting in today's world is a necessity, in terms of knowledge transfer in an ever increasing complex business and IT scenario.</p>
                <i class="bi bi-arrow-right fs-2"></i>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="rounded-4 text-center service-card p-4">
                <img src="./assets/images/service-card-image-1.svg" alt="service-card-image-1" class="img-fluid mt-3">
                <h3 class="mt-3 fs-4">Rollouts & Upgrades</h3>
                <p class="mt-4">The rollout of software occurs in stages for different reasons ranging from prioritizing needs to structured release management.</p>
                <i class="bi bi-arrow-right fs-2"></i>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="rounded-4 text-center service-card p-4">
                <img src="./assets/images/service-card-image-2.svg" alt="service-card-image-2" class="img-fluid mt-3">
                <h3 class="mt-3 fs-4">Application Maintenance</h3>
                <p class="mt-4">Application Maintenance Services plays a major role in the evaluation and the performance optimization of business applications.</p>
                <i class="bi bi-arrow-right fs-2"></i>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-8 text-center p-5">
            <h1 class="fw-semibold lh-base"> How it works </h1>
            <p>Businesses generally promote their brand, products, and services by identifying audience.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>


 

