.position-relative {
    position: relative;
}

.overlap-img {
    position: absolute;
    top: 26%;
    left: calc(50% + 40px); /* Move 20px to the right */
    transform: translate(-50%, -50%);
}

.sap-text {
    position: relative;
    z-index: 1;
}

.overlap-img1 {
    position: absolute;
    top: 26%;
    left: calc(80% + 45px); /* Move 20px to the right */
    transform: translate(-50%, -50%);
}
.bg-sec {
    background-color: #F9FAFB;
}
/* Responsive adjustments */


@media (max-width: 992px) { /* */
    .overlap-img {
        top: 32%;
        left: 60%; /* Adjust this as needed for smaller screens */
    }
    .overlap-img1 {
        top: 33%;
        left: 90%; /* Adjust this as needed for smaller screens */
    }
    // .sap_tech1 {
    //     display: none;
    // }
    // .sap_btn1 {
    //     display: none;
    // }
}

@media (max-width: 768px) { /*  */
    .overlap-img {
        top: 30%;
        left: 56%; /* Adjust this as needed for smaller screens */
    }
    .overlap-img1 {
        top: 30%;
        left: 90%; /* Adjust this as needed for smaller screens */
    }
}

@media (max-width: 576px) { /*  */
    .overlap-img {
        left: 62%; /* Adjust this as needed for smaller screens */
        top: 32%;
    }
    .overlap-img1 {
        left: 95%; /* Adjust this as needed for smaller screens */
        top: 32%;
    }
    .sap_sm_text {
        font-size: 3.5vw;
        color: #4D5B57;
        line-height: 6vw;
    }
}


.teacher1 {
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.teacher2 {
    top: 8%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.teacher3 {
    top: 28%;
    left: 31%;
    transform: translate(-50%, -50%);
}
.teacher4 {
    top: 87%;
    left: 26%;
    transform: translate(-50%, -50%);
}

/* Responsive adjustments for teacher images */
@media (max-width: 992px) {
    .teacher1 {
        top: 20%;
        left: 85%;
        
    }
    .teacher2 {
        top: 10%;
        left: 60%;
    }
    .teacher3 {
        top: 30%;
        left: 35%;
    }
    .teacher4 {
        top: 90%;
        left: 30%;
    }
}

@media (max-width: 768px) {
    .teacher {
        padding-top: 30px !important;
        padding-left: 25px !important;

    }
    .teacher1 {
        top: 15%;
        left: 95%;
        height: 60px;
        aspect-ratio: 1;
    }
    .teacher2 {
        top: 12%;
        left: 55%;
        height: 60px;
        aspect-ratio: 1;
    }
    .teacher3 {
        top: 35%;
        left: 35%;
        height: 55px;
        aspect-ratio: 1;
    }
    .teacher4 {
        top: 85%;
        left: 30%;
        height: 55px;
        aspect-ratio: 1;
    }
}

@media (max-width: 576px) {
    .teacher {
        height: 180px;
        aspect-ratio: 1;
    }
    .teacher1 {
        top: 22%;
        left: 97%;
        height: 45px;
        aspect-ratio: 1;
    }
    .teacher2 {
        top: 14%;
        left: 55%;
        height: 45px;
        aspect-ratio: 1;
    }
    .teacher3 {
        top: 30%;
        left: 25%;
        height: 45px;
        aspect-ratio: 1;
    }
    .teacher4 {
        top: 75%;
        left: 22%;
        height: 45px;
        aspect-ratio: 1;
    }
    .web-heading {
        font-size: 14px;
        line-height: 28px;
    }
}
.offering_card {
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    // padding: 2vw;
}
.offering_icon {
    background-color: #edebfd;
    border-radius: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offering_icon1 {
    background-color: #f0fbf3;
    border-radius: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offering_icon2 {
    background-color: #e8e8ea;
    border-radius: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offering_icon3 {
    background-color: #feeded;
    border-radius: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr_line {
    height: 2px;
    background-color: #55544F; 
}
.achievement_icon {
    background-color: #f0fbf3;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.achievement_icon1 {
    background-color: #D7F8F4;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.achievement_icon2 {
    background-color: #EFD7F8;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.achievement_icon3 {
    background-color: #EBF8D7;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 576px) {
    .achievement_icon {
        height: 50px;
        width: 50px;
    }
    .achievement_icon1 {
        height: 50px;
        width: 50px;
    }
    .achievement_icon2 {
        height: 50px;
        width: 50px;
    }
    .achievement_icon3 {
        height: 50px;
        width: 50px;
    }
}
.change_business_card {
    color: white;
    background-color: #24774A;
    border-radius: 50px;
    font-size: .7vw;
    // height: 2vw;
    display: flex;
    align-items: center;
    // padding: .6vw;
    
    
}
.change_business_card h5 {
    margin: 0;
}