* {
    font-family: "Poppins";
  }
.contact-section{
  background-color: #f9fafb;

}
.bi-geo-alt-fill, .bi-envelope-fill, .bi-telephone-fill{
  color: #24774a;
 
}
.contact-form-bg{
    background-color: #24774A;
}