<div class="landing-container bg-sec">
    <img src="./assets/images/landing_page/landing_root.svg" class="root_leaf img-fluid position-relative" alt="Logo">
    <img src="./assets/images/landing_page/landing_leaf1.svg" class="leaf1 position-absolute" alt="laef1">
    <img src="./assets/images/landing_page/landing_leaf11.svg" class="leaf11 position-absolute" alt="laef11">
    <img src="./assets/images/landing_page/landing_leaf2.svg" class="leaf2 position-absolute" alt="laef2">
    <img src="./assets/images/landing_page/landing_leaf10.svg" class="leaf10 position-absolute" alt="laef10">
    <img src="./assets/images/landing_page/landing_leaf3.svg" class="leaf3 position-absolute" alt="laef3">
    <img src="./assets/images/landing_page/landing_leaf9.svg" class="leaf9 position-absolute" alt="laef9">
    <img src="./assets/images/landing_page/landing_leaf4.svg" class="leaf4 position-absolute" alt="laef4">
    <img src="./assets/images/landing_page/landing_leaf8.svg" class="leaf8 position-absolute" alt="laef8">
    <img src="./assets/images/landing_page/landing_leaf5.svg" class="leaf5 position-absolute" alt="laef5">
    <img src="./assets/images/landing_page/landing_leaf7.svg" class="leaf7 position-absolute" alt="laef7">
    <img src="./assets/images/landing_page/landing_leaf6.svg" class="leaf6 position-absolute" alt="laef6">
</div>
  