<!-- header section component -->
<app-top-header-section heading="About us" paragraph="In the world of business, SAP technology is the key that unlocks the
door to efficiency and innovation.">
</app-top-header-section>
<div class="container-fluid">
    <div class="row py-5 p-lg-5 d-flex align-items-center">
        <div class="d-sm-block d-md-none">
            <p class="web-paragraph">About Us</p>
            <h3 class="web-sub-heading">What We Do</h3>
        </div>
        <!-- Image column -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img src="assets/images/vst-development-team.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-md-6">
            <div class="d-none d-sm-none d-md-block">
                <p class="web-paragraph">About Us</p>
                <h3 class="pb-3 web-sub-heading">What We Do </h3>
            </div>
            <p class="web-paragraph pt-3 pt-md-0">At Vrikshamsofttech, we specialize in delivering innovative SAP
                solutions and
                comprehensive IT consulting services tailored to meet the diverse needs of our global clientele. Our
                core focus is on leveraging cutting-edge technology to empower businesses across various industries,
                ensuring efficiency, scalability, and sustainable growth.
            </p>
        </div>
        <hr class="my-5 d-none d-md-block border-line">
        <div class="row">
            @for (item of items; track $index) {
                <div class="col-6 col-md-3 text-center">
                    <h3 class="pb-md-3 web-sub-heading count" [attr.data-count]="item.count">0<span>+</span></h3>
                    <p class="web-paragraph">{{ item.label }}</p>
                </div>
            }
        </div>
    </div>

    <!-- Guideline -->

    <div class="row p-lg-5 py-5 d-flex align-items-center web-card-bg d-flex align-items-center">
        <div class="d-sm-block d-md-none">
            <p class="web-paragraph about-us">About Us</p>
            <h3 class="web-sub-heading">Guideline for your financial & Career grow.</h3>
        </div>
        <!-- Image column -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img src="assets/images/vst-development-guideline.svg" alt="" class="img-fluid">
        </div>
        <!-- Text column -->
        <div class="col-12 col-md-6">
            <div class="d-none d-sm-none d-md-block">
                <p class="web-paragraph about-us">About Us</p>
                <h3 class="pb-3 pt-lg--5 web-sub-heading">Guideline for your financial & Career grow.</h3>
            </div>
            <p class="web-paragraph pt-3 pt-md-0">At VRIKSHAM SOFT TECH, our mission is to leverage our extensive
                software
                programming and domain expertise to deliver cutting-edge IT solutions to our clients. We are committed
                to fostering strong partnerships, providing exceptional customer service, and driving business growth
                through our cost-effective and customer-oriented approach.</p>
            <button type="button" class="btn button-primary py-2 px-5 mt-3 mb-5" role="button" (click)="openExplorePopup()">Explore</button>
            <hr class="border-line">
            <div class="row">
                <div class="col-6 text-center">
                    <h3 class="pb-md-3 web-sub-heading count count-extra" data-count="20">0<span>+</span></h3>
                    <p class="web-paragraph">Courses</p>
                </div>
                <div class="col-6 text-center">
                    <h3 class="pb-md-3 web-sub-heading count count-extra" data-count="1200">0<span>+</span></h3>
                    <p class="web-paragraph">Students</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Service Offering Card Component -->

    <div class="row pb-5">
        <app-service-offering-card></app-service-offering-card>
    </div>

    <div class="row web-card-bg p-3 p-md-5">
        <h1 class="web-subheading text-center pb-3">Our Team</h1>
        <div class="d-flex justify-content-center">
            <p class="web-pa text-center col-12 col-lg-10">
                Our team consists of experts in various fields including SAP consulting, IT infrastructure, software development, 
                and digital transformation. Each member brings unique skills and experiences that contribute to our collective success.
            </p>
        </div>
        <div class="row g-4 m-0 p-0">
            @for (member of teamMembers; track $index) {
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="rounded-4 team-card p-3">
                        <img class="card-img-top" [src]="member.imageUrl" alt="vriksham-team-members">
                        <div class="card-body">
                            <h5 class="text-center pt-3">{{ member.name }}</h5>
                            <p class="text-center">{{ member.role }}</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>
