<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a routerLink="/career" class="text-secondary text-decoration-none">Carrer
                </a> <span class="text-secondary ps-3">></span></li>
            <li class="ps-3 nav-active fw-medium">Full Stack Developer</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row career-section p-4 mb-4">
        <div class="col-2"></div>
        <div class="col-lg-8 col-12 text-center">
            <h1 class="web-heading mb-3 animate-fade-in">Full Stack Developer</h1>
            <p class="lh-lg animate-slide-up">Full Time, 2-4 Years, New York </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container">
    <div class="row p-2">
        <h5 class="mb-4 fw-semibold">About the Role :</h5>
        <div class="mb-3">
            <span class="about-carrier lh-base">Technology Expertise:</span>
            <span class="text-secondary"> Demonstrating proficiency in both front-end and back-end development,
                utilizing technologies such as JavaScript, HTML/CSS, Node.js, React.js, Angular, and more..</span>
        </div>
        <div class="mb-3">
            <span class="about-carrier lh-base"> Custom Solution Development :</span>
            <span class="text-secondary lh-base">
                Building scalable, responsive web applications and APIs that align with client requirements and business
                objectives.
            </span>
        </div>
        <div class="mb-3">
            <span class="about-carrier lh-base"> Integration and Optimization: </span>
            <span class="text-secondary lh-base">
                Integrating various systems and databases, ensuring seamless functionality and performance optimization
            </span>
        </div>
        <div class="mb-3">
            <span class="about-carrier">Collaborative Approach:</span>
            <span class="text-secondary lh-base">
                Working closely with cross-functional teams including designers, project managers, and other developers
                to deliver high-quality solutions on time.
            </span>
        </div>
        <div class="mb-3">
            <span class="about-carrier lh-base">Innovation and Best Practices :</span>
            <span class="text-secondary lh-base">
                Staying updated with industry trends, adopting best practices, and contributing to the continuous
                improvement of development processes.
            </span>
        </div>
        <div class="mb-3">
            <span class="about-carrier lh-base ">Problem Solving:</span>
            <span class="text-secondary lh-base">
                Identifying and resolving technical challenges, ensuring robust and efficient code quality and adherence
                to coding standards.
            </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-2">
        <h5 class="mb-4 fw-semibold">Responsibilities and Experience :</h5>
        <div class="mb-3">
            <span class="text-dark lh-lg"> Assist in front-end and back-end development tasks, learn coding best
                practices, and collaborate on project teams under supervision. Lead full software development lifecycle,
                architect scalable solutions, mentor team members, and optimize application performance and security.
                Academic projects using relevant technologies; internship or coursework in software development
                preferred.</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-2">
        <h5 class="mb-4 fw-semibold">Requirements:</h5>
        <div class="mb-3">
            <ul class="career-list">
                <li>Business Intelligence solutions</li>
                <li>Cloud computing platforms (AWS)</li>
                <li>Relevant server-side programming languages (C# .NET)</li>
                <li>SQL and NoSQL database solutions (AWS Redshift and AWS DynamoDB)Business Intelligence solutions</li>
                <li>Big data processing frameworks and concepts </li>
                <li>DevOps practices</li>
                <li>Serverless Architecture</li>
                <li>*NIX operating systems</li>
                <li>Demonstrates ability to communicate effectively with the rest of the team</li>

            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-2">
        <h5 class="mb-4 fw-semibold">How to apply :</h5>
        <div class="mb-3">
            <span class="text-dark lh-lg"> To apply for a position at Vrikshamsofttech, begin by visiting their official
                website where you can explore the latest job openings across various departments. Take the time to
                carefully review each job description, ensuring your skills and experience align with the requirements
                outlined.</span>
        </div>
        <div><button type="button" class="btn get-started-button" role="button" data-bs-toggle="modal"
                data-bs-target="#applyModal">Apply for this job</button></div>
    </div>
</div>
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title" id="applyModalLabel">Job Application Form</h5>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="mobile">Mobile No</label>
                                <input type="tel" class="form-control" id="mobile" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="jobTitle">Job Title</label>
                                <input type="text" class="form-control" id="jobTitle" value="Full Stack Developer"
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="experience">Experience</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Experience</option>
                                    <option value="1">Fresher</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="yearsExperience">Years of Experience</label>
                                <input type="number" class="form-control" id="yearsExperience" min="0" max="50"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="resume">Resume</label>
                        <input type="file" class="form-control-file ms-3" id="resume" required>
                    </div>
                    <button type="button" class="btn get-started-button" role="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>